streamlit==1.10.0  # Replace with your desired Streamlit version
pyrebase4==4.5.0   # Replace with your desired Pyrebase version
firebase-admin==5.2.0  # Replace with your desired Firebase Admin version
requests-toolbelt==0.9.1  # Replace with a compatible version
